body {
  font-family: 'Roboto Slab', serif ;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(138, 136, 136);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  
  background-color:skyblue;
  color:white;
  padding: 15px 20px;
  margin: 18px , 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 60%;
}

.container {
  color: blue;
  padding: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* half Full width */
  height: 50%; /*half  Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color:blue; /* Black w/ opacity */
  padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: blue;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  display:none;
}

.clikme{
  display: block;
  width: auto;
}

.Reg{
  display:block ;
  width:auto;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 50%;
     display: none;
  }
}
.nav ul {
  list-style: none;
  background: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  display: inline-block;
}
.nav a {
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 20px;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}
li {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}